body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: white;
    padding: 5px 0;
    
}

header h1 {
    color: red;
    font-size: 40px;
    font-weight: 400;
    font-style: italic;
    display: inline-block;
    /* position: relative; */
    /* bottom: 0; */
    margin-left: 10px;
}

/* nav {
    background-color: #6da9ed;
    margin-bottom: 20px;
} */

/* nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
} */

/* nav ul li {
    flex-grow: 1;
} */

/* nav ul li a {
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
} */

/* nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
} */

/* nav ul li a.activo {
    background-color: #4c76a5;
} */

footer {
    background-color: #ccc;
    /* clear: both; */
    color: #333;
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
    margin-top: 60px;
}

.holder {
    max-width: auto;
    margin: 0 auto;
}